/* write your override styles here */


#wall div#tag1 {
  display:none;
  padding: 120px
  height: 100px;
}
#wall div#tag2 {
  display:none;
  padding: 120px;
}#wall div#tag2 {
  display:none;
}
#wall div#tag3 {
  display:none;
  padding: 100px;
}
#wall div#tag4 {
  display:none;
  padding: 100px;
  width: 120px;
  height: auto;
}